* {
    margin: 20px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80%;
  }
  
  .header {
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif
    font-weight: bold;
    color: #000000;
  }
  
  .body-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
  }
  
  .code {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 140%;
    color: #928079;
  }
  
  a {
    color: #e2d3cd;
    text-decoration: none;
    margin: 0;
  }
  
  a:hover {
    color: #6d6a68;
  }
  
  .comment {
    color: #ccd6dd;
  }